version: '3.8'

services:
    postgres:
        image: postgres:15-alpine
        volumes:
            - pgdata:/var/lib/postgresql/data
        environment:
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_DB=orso-arpa
        ports:
            - 5432:5432
    api:
        build:
            context: .
            dockerfile: Dockerfile
            target: base
        # Enable volume mapping to watch for changes and rebuild inside of the container.
        #volumes:
           #- ./:/home/app
        ports:
            - 5000:5000
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__PostgreSQLConnection=host=postgres;database=orso-arpa;User Id=postgres;Password=postgres;
            - EmailConfiguration__SmtpServer=mail
            - EmailConfiguration__Port=1025
            - EmailConfiguration__From=test@localhost
        depends_on:
            - postgres
            - mail
    mail:
        image: mailhog/mailhog
        environment:
            - MH_STORAGE=maildir
            - MH_MAILDIR_PATH=/maildir
        volumes:
            - ./.docker/mailhog:/maildir
        ports:
            - 1025:1025
            - 8025:8025
# Docker for Mac requires a mounted volume because filesystem mounts are not supported.
# https://github.com/microsoft/mssql-docker/issues/12
# https://adilsoncarvalho.com/using-mssql-on-linux-using-docker-for-mac-a5d4ac81e57f
volumes:
    pgdata:
